.footer {
    display: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 0;
}

.mobile-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        width: calc(100% - 40px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
